{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-8 mx-auto mb-5 fade-in-5">
        <h2 class="mb-4">Account Details</h2>
        {{if not customer_info or not customer_info.state_code or not customer_info.zip or not customer_info.city or customer_info.street_1 == '':}}
        <p class='text-danger small mtneg-1rem fade-in-12'><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please Add Account Details to Complete Registration</p>
        {{pass}}
        <div class="border rounded p-4 fade-in-5">
            {{=form.custom.begin}}
                    
                    <div class="row form-group">
                        <div class="col-md-6 mb-md-3">
                            <label for="{{=form.custom.widget.first_name['_id']}}" class="form-control-label">{{=form.custom.label.first_name}}<span class="text-danger"> *</span></label>
                            {{=form.custom.widget.first_name}}
                        </div>
                        <div class="col-md-6 pl-md-0">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.last_name['_id']}}" class="form-control-label">{{=form.custom.label.last_name}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.street_1['_id']}}" class="form-control-label">{{=form.custom.label.street_1}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.street_1}}
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.street_2['_id']}}" class="form-control-label">{{=form.custom.label.street_2}}</label>
                                {{=form.custom.widget.street_2}}
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-5 mb-md-3">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.city['_id']}}" class="form-control-label">{{=form.custom.label.city}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.city}}
                            </div>
                        </div>

                        <div class="col-md-4 pl-md-0 mb-md-3">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.state['_id']}}" class="form-control-label">{{=form.custom.label.state}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.state}}
                            </div>
                        </div>

                        <div class="col-md-3 pl-md-0">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.zip['_id']}}" class="form-control-label">{{=form.custom.label.zip}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.zip}}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.email['_id']}}" class="form-control-label">{{=form.custom.label.email}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.email}}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="label-group">
                                <label for="{{=form.custom.widget.phone['_id']}}" class="form-control-label">{{=form.custom.label.phone}}<span class="text-danger"> *</span></label>
                                {{=form.custom.widget.phone}}
                            </div>
                        </div>
                    </div>
                    {{=form.custom.widget.user_id}} 
                    <hr>
                    <button type="submit" class="btn btn-primary">Update Account Details</button>                  
                {{=form.custom.end}}  

        </div>
    </div>
</div>
