{{extend 'layout.html'}}
<div class="row">
    <div class="col-6 mx-auto mb-5 p-4 border rounded">
        <h2>Account Information</h2>
        <hr>
        <div class="">
            <h5>User Information</h5>
            <span class="font-weight-bold text-uppercase font-small">Name:</span>
            <p>{{=user_info.first_name}} {{=user_info.last_name}}</p>

            <span class="font-weight-bold text-uppercase font-small">Address:</span>
            <p> {{=customer_info.street_1}}, {{=customer_info.street_2}}
                <br>
                {{=customer_info.city}}, {{=state.state_code}} {{=customer_info.zip}}
            </p>

            <span class="font-weight-bold text-uppercase font-small">Contact Info:</span>
            <p><i class="text-uppercase font-small">Phone:</i> {{=customer_info.phone}} 
                <br>
                <i class="text-uppercase font-small">Email:</i> {{=user_info.email}}
            </p>
            <a href="{{=URL('default','account_details')}}" class="btn btn-primary">Update User Information</a>
        </div>
        <hr>
        <a href="" class="btn btn-primary">View Order History</a>
        
    </div>
</div>