{{extend 'layout.html'}}


{{if 'breadcrumbs' in locals():}}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{for crumb in breadcrumbs[:-1]:}}
            <li class="breadcrumb-item"><a href="{{=crumb['url']}}">{{=crumb['name']}}</a></li>
        {{pass}}
        <li class="breadcrumb-item active" aria-current="page">{{=breadcrumbs[-1]['name']}}</li>
      </ol>
    </nav>
{{pass}}


<!--FILTER CODE BEGINS-->
<section id='filter_sort' class='d-flex flex-wrap row'>
    <form id="filter_form" class="d-flex w-100 h-100 flex-wrap" method=GET>
        <ul class="d-flex flex-wrap text-primary list-unstyled col-lg-10 p-0">
            {{
            for key, value in options.items():
                value = sorted(value)
            }}
            <li class=" dropdown mr-3">
                <p class="dropdown-toggle btn btn-primary btn-sm {{if len(key)>6:}}w-120px{{else:}}w-100px{{pass}} color-secondary"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{=key}}</p>
                <fieldset id='{{=key}}' class="dropdown-menu border p-3"  style="width: max-content;">
                    {{for attr_value in value:}}
                        
                        <div class="w-100 d-flex align-items-center mb-2 flex-gap-25">
                            <input class='filter-checkbox' type="checkbox" name="{{=key}}[]" id="{{=key}}-{{=attr_value}}" value="{{=attr_value}}" {{if key in filter_dict and attr_value in filter_dict[key]:}}checked{{pass}}> 
                            <label class="m-0 flex-grow-1" for="{{=key}}-{{=attr_value}}">{{=attr_value}}</label><br>
                        </div>
                    {{pass}}
                </fieldset>
            </li>
            {{pass}}
            <li class="dropdown mr-3">
                <p class="dropdown-toggle btn btn-primary btn-sm w-100px" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Price</p>
                <fieldset id='Screen_Size' class="dropdown-menu">
                    <input class='ml-3' type="radio" name="Price[]" value="0--499" id="price1" {{if request.vars['Price[]']=='0--499' :}}checked{{pass}}> 
                    <label for="price1">under $500</label><br>
                    <input class='ml-3' type="radio" name="Price[]" value="500--1000" id="price2" {{if request.vars['Price[]']=='500--1000' :}}checked{{pass}}> 
                    <label for="price2">$500 - $1000</label><br>
                    <input class='ml-3' type="radio" name="Price[]" value="1000--100000000" id="price3" {{if request.vars['Price[]']=='1000--100000000' :}}checked{{pass}}> 
                    <label for="price3">$1000+</label><br>
                </fieldset>
            </li>
            <li><input id="apply-btn" class="btn btn-sm btn-secondary w-100px text-white" type="submit" value="Apply"></li>
            <li><input id="clear-btn" class="bg-transparent text-muted btn-sm td-ul f-8rem ml-1 pt-2" type="submit"
                    value="clear all" style="text-decoration: underline; font-style: italic;"></li>
        </ul>
        <!--FILTER CODE ENDS-->

        <!--SORT CODE BEGINS-->
        <ul class="d-flex justify-content-end list-unstyled h-100 ml-auto col-lg-2 p-0">
            <li class="dropdown d-flex justify-content-end flex-grow-1 w-lg-75">
                <p class="dropdown-toggle btn btn-primary btn-sm  color-secondary flex-grow-1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</p>
                <fieldset class="dropdown-menu dropdown-menu-right w-100" style="position: absolute; top: 33px; right: 0px; width: 150% !important;">
                    <input id="sort-default" class='' type="radio" name="ORDER" value="default" hidden checked>
                    <label for="sort-default" class='dropdown-item'>Best Selling</label>
                    <input id="price-asc" class='' type="radio" name="ORDER" value="price-asc" hidden {{if request.vars.ORDER=='price-asc' :}}checked{{pass}}>
                    <label for="price-asc" class='dropdown-item'>Price Low to High</label>
                    <input id="price-desc" class='' type="radio" name="ORDER" value="price-desc" hidden {{if request.vars.ORDER=='price-desc' :}}checked{{pass}}>
                    <label for="price-desc" class='dropdown-item'>Price High to Low</label>
                </fieldset>
            </li>
        </ul>
    </form>
    <!-- <p class='small text-muted td-ul mtneg-1rem'>{#{#=f"{len(products)} {link_arg[1]} found"}}</p> -->
    <hr class="w-100">
</section>
<!--SORT CODE ENDS-->



<div class="row">
	<h2 class="mb-4 text-accent">{{=cat_name_fix}}</h2>
</div>

<div class="row product-row flex-gap-2">
    {{if not products:}}
    <p class='mtneg-1rem'>No Results Found</p>
    {{pass}}
    
    {{for row in products:
        name = row['product_name']
        name_link = name.replace(" ", "-")
        price = row['price']
        product_id = row['id']
        img_src = row['image_filename']
        img_alt = row['image_alt']
        cat_name = (db(db.categories.id == cat_id_fix).select().first()).category_name.lower()
        cat_name = cat_name.replace("&","").replace(" ","_")
        brand = (db(db.brand.id == row['brand_id']).select().first()).brand_name.lower()
        stock_qty = row['stock_qty']
    }}
    
	<div class="col product">
		<a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}} class="position-relative">
            {{if not stock_qty:}}
                <div class="out-of-stock over-image">OUT OF STOCK</div>
            {{pass}}
            {{=IMG(_src=URL(f'static/images/{cat_name}/{brand}/', img_src), _onerror="this.onerror=null;this.src='%s';" % URL('static', 'images/default-img.png'), _alt=img_alt)}}
        </a>
		<h4 class="mt-3">
			<a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}}>{{=name}}</a>
		</h4>
	
		<ul>
			{{
            features = db((db.product_attribute.product_id == product_id)).select()

            for i in features:
                for k in is_filter:
                    if i.attribute_id == k.attribute_id:
                        desc = db(db.attribute_description.id == i.attribute_id).select().first()
                
			            =LI(desc.attribute_name + ": " + i.attribute_value)
                        pass
                        pass
			}}
			{{pass}}
		</ul>

		<div class="price-info">
            {{if not stock_qty:}}
                <p class="block"><s>${{=f"{price:,.2f}"}}</s></p>
            {{else:}}
			    <p class="block">${{=f"{price:,.2f}"}}</p>
            {{pass}}
            <a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}}>
                <button class="btn btn-mise-accent">Learn More</button>
            </a>
		</div>
        

	</div>
    {{pass}}

<!-- add extra div boxes to fill up empty space to create a nice grid -->
        {{row_count = 3
        if (len(products) % row_count):
            extras =  row_count - (len(products) % row_count)}}
            {{for i in range(extras):}}
            <div class="product empty"></div>
            {{pass}}
        {{pass}}

    </div>




{{block page_js}}
    <script>
    "use strict"

    const filter_form = document.getElementById("filter_form");
    const sortRadios = document.querySelectorAll('input[name="ORDER"]');
    const filterChecks = document.querySelectorAll('.filter-checkbox');
    const priceRadio = document.querySelectorAll('[id^="price"]');

    window.onload = function() {
        document.getElementById("apply-btn").onclick = applyFilters;
        document.getElementById("clear-btn").onclick = clearFilters;

        
        sortRadios.forEach(radio => {
          radio.addEventListener('change', () => {
          const ORDER = filter_form.querySelector('input[name="ORDER"]:checked');
          filter_form.submit();});
        });

    
        document.querySelectorAll('.dropdown-menu').forEach(dropdownMenu => {
            dropdownMenu.addEventListener('click', function(event) {
                event.stopPropagation();
            });
        });
    }

    


    function applyFilters() {
        filter_form.submit();}

    function clearFilters() {
        filter_form.querySelectorAll('input[type="checkbox"]').forEach(el => el.checked = false);
        filter_form.querySelectorAll('input[type="radio"]').forEach(el => {if (el.name !== 'ORDER') {el.checked = false;}});}


    filterChecks.forEach(check => {
        check.addEventListener('change', function() {
            document.getElementById('apply-btn').focus()
        });
    });

    priceRadio.forEach(radio => {
        radio.addEventListener('change', function() {
            document.getElementById('apply-btn').focus()
        });
    });
    </script>
{{end page_js}}
