{{extend 'layout.html'}}

{{=form}}

<div class="container">
    <h2 class="text-accent mb-2" style="margin-left: -15px;">Check Out</h2>
    <div class="row">
        <div class="col-7 pt-3">
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Shipping Information</h5>

                <form name="shipping-info" enctype="multipart/form-data" id="shipping-info" class="order-forms w-100 px-3">
                    
                    <div class="row form-group">
                        <div class="col-6">
                            <div class="label-group">
                                <label for="s_first_name" class="form-control-label">First Name</label>
                                <input type="text" class="form-control string" id="s_first_name" name="s_first_name" value="{{=user_info.first_name}}">
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="s_last_name" class="form-control-label">Last Name</label>
                                <input type="text" class="form-control string" id="s_last_name" name="s_last_name" value="{{=user_info.last_name}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="s_street_1" class="form-control-label">Address Line 1</label>
                                <input type="text" class="form-control string" id="s_street_1" name="s_street_1" value="{{=customer_info.street_1}}">
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="s_street_2" class="form-control-label">Address Line 2</label>
                                <input type="text" class="form-control string" id="s_street_2" name="s_street_2" value="{{=customer_info.street_2}}">
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-4">
                            <div class="label-group">
                                <label for="s_city" class="form-control-label">City</label>
                                <input type="text" class="form-control string" id="s_city" name="s_city" value="{{=customer_info.city}}">
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="s_state" class="form-control-label w-100">State</label>
                                <select name="s_state" id="s_state" class="form-control">
                                    <option value="0">Choose a state...</option>
                                    {{
                                        states = db(db.states).select()
                                        for state in states:                        
                                    }}
                                        <option value="{{=state['id']}}" {{if customer_info.state_code == state['id']:}} selected {{pass}}>{{=state['state_name']}}</option>
                                    {{pass}}
                                </select>
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="s_zip" class="form-control-label">Zip Code</label>
                                <input type="text" class="form-control string" id="s_zip" name="s_zip" value="{{=customer_info.zip}}">
                            </div>
                        </div>
                        
                    </div>
                    <input type="hidden" name="user_id" value="{{=auth.user.id}}">
                </form>
            </div>
            

            <!-- BILLING INFO FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Billing Information</h5>
                
                <form name="billing-info" enctype="multipart/form-data" id="billing-info" class="order-forms collapse w-100 px-3">
                    <div class="row form-group">
                        <div class="col-6">
                            <div class="label-group">
                                <label for="b_first_name" class="form-control-label">First Name</label>
                                <input type="text" class="form-control string" id="b_first_name" name="b_first_name" value="">
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="b_last_name" class="form-control-label">Last Name</label>
                                <input type="text" class="form-control string" id="b_last_name" name="b_last_name" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="b_street_1" class="form-control-label">Address Line 1</label>
                                <input type="text" class="form-control string" id="b_street_1" name="b_street_1" value="">
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="b_street_2" class="form-control-label">Address Line 2</label>
                                <input type="text" class="form-control string" id="b_street_2" name="b_street_2" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-4">
                            <div class="label-group">
                                <label for="b_city" class="form-control-label">City</label>
                                <input type="text" class="form-control string" id="b_city" name="b_city" value="">
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="b_state" class="form-control-label w-100">State</label>
                                <select name="b_state" id="b_state" class="form-control">
                                    <option value="0">Choose a state...</option>
                                    {{
                                        states = db(db.states).select()
                                        for state in states:                        
                                    }}
                                        <option value="{{=state['id']}}">{{=state['state_name']}}</option>
                                    {{pass}}
                                </select>
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="b_zip" class="form-control-label">Zip Code</label>
                                <input type="text" class="form-control string" id="b_zip" name="b_zip" value="{{=customer_info.zip}}">
                            </div>
                        </div>
                        
                    </div>
                </form>

                <!-- Checkbox for duplicating shipping info -->
                <div class="col-12 p-0">
                    <input type="checkbox" id="use-shipping" class="mr-2" checked data-toggle="collapse" data-target="#billing-info" aria-expanded="false" aria-controls="billing-info">
                    <label for="use-shipping">Same as shipping info</label>
                </div>
            </div>

            <!-- Credit Card Info -->
            <div class="row">
                <h5 class="w-100 pb-3 border-bottom mb-4">Payment Information</h5>

                <form name="credit-info" enctype="multipart/form-data" id="credit-info" class="order-forms w-100 px-3">
                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="credit-card-name" class="form-control-label">Name on Card</label>
                                <input type="text" id="credit-card-name" class="form-control string" name="credit-card-name" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="credit-card" class="form-control-label">Card Number</label>
                                <input type="text" id="credit-card" class="form-control string" name="credit-card" placeholder="XXXX XXXX XXXX XXXX">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="label-group">
                                <label for="cc-month" class="form-control-label">Expiration Month</label>
                                <select name="cc-month" id="cc-month" class="form-control">
                                    <option value="0">Choose month...</option>
                                    {{
                                        for i in range(12):
                                    }}
                                        <option value="{{=(i+1)}}">{{=(i+1)}}</option>
                                    {{pass}}
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-4">
                            <label for="cc-year" class="form-control-label">Expiration Year</label>
                            <select name="cc-year" id="cc-year" class="form-control">
                                <option value="0">Choose year...</option>
                                {{
                                    for year in next_ten_years:
                                }}
                                    <option value="{{=year}}">{{=year}}</option>
                                {{pass}}
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="cvv" class="form-control-label">CVV</label>
                            <input type="text" name="cvv" id="cvv" placeholder="XXX" class="form-control string">
                        </div>
                    </div>
                    
                    

                    
                    
                </form>
            </div>
        </div>

        <!-- Right Side Bar -->
        <div class="col-5">
            <div class="bg-light p-3">
                <h5>Items</h5>
                <div>
                    <hr>
                    <table class="checkout-table">
                        <thead>
                            <tr class="text-uppercase text-secondary">
                                <th>Item</th>
                                <th class="text-center">Qty.</th>
                                <th class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in cart_items:
                                product_id= item['product_id']
                                product = db(db.products.id == product_id).select().as_list()[0]
                            }}
                                <tr>
                                    <td><strong>{{=product['product_name']}}</strong></td>
                                    <td class="text-center">{{=item['quantity']}}</td>
                                    <td class="text-right">${{=f"{(product['price'] * item['quantity']):.2f}"}}</td>
                                </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row mx-0">
                    <div class="col">
                        Subtotal:
                    </div>
                    <div class="col-auto text-right">
                        ${{=subtotal}}
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col">
                        Tax:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{tax_amt:.2f}"}}
                    </div>
                </div>
                <div class="row mx-0 font-weight-bold">
                    <div class="col text-uppercase">
                        Total:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{total:.2f}"}}
                    </div>
                </div>
                <hr>
                <form>
                    <button id="place-order" class="btn btn-mise-accent">Place Order</button>
                </form>

            </div>
        </div>
    </div>
</div>




{{=BEAUTIFY(response._vars)}}

{{block page_js}}
<script>

const useShipping = document.querySelector('#use-shipping');
const shippingForm = document.querySelector('#shipping-info');
const billingForm = document.querySelector('#billing-info');
const creditForm = document.querySelector('#credit-info');

function useShippingFunc() {
    if (useShipping.checked == true) {
        console.log("hello")
        const shippingArray = Array.from(shippingForm);
        const billingArray = Array.from(billingForm);
        let counter = 0;
        billingArray.forEach(input => {
            input.value = shippingArray[counter].value;
            counter++;
        })
    }
}

document.addEventListener("DOMContentLoaded", function() {
    useShippingFunc();
});
useShipping.addEventListener('change', useShippingFunc);

jQuery('#place-order').click(function() {
    let valuesToSend = ""
    jQuery(".order-forms").each(function() {
        valuesToSend += $(this).serialize() + "&";
        
    });
    jQuery.ajax({
        url: '{{=URL("checkout")}}',
        data: valuesToSend
    });
    return false;
});





</script>
{{end page_js}}
