{{extend 'layout.html'}}



{{if not cart_items:}}
<div class="row">
        <h2 class="text-accent mb-4 mb-md-2 w-100" >Check Out</h2>
        <div class="col-12">
            <p>You're cart is empty, you can't checkout!</p>
        </div>
    </div>
{{else:}}
	<div class="loading-screen align-items-center" style="display: flex;">
	<div class="d-flex align-items-center m-auto flex-gap-2 p-4">
		<strong>Loading...</strong>
		<div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
	</div>
</div>

<div class="row">
        <h2 class="text-accent mb-4 mb-md-2 w-100" >Check Out</h2>
        <div class="col-md-7 order-2 order-md-1 pt-3">
            <!-- SHIPPING INFO FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Shipping Information</h5>

                {{=shipping_form.custom.begin}}
                    
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="{{=shipping_form.custom.widget.first_name['_id']}}" class="form-control-label">{{=shipping_form.custom.label.first_name}}</label>
                            {{=shipping_form.custom.widget.first_name}}
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.last_name['_id']}}" class="form-control-label">{{=shipping_form.custom.label.last_name}}</label>
                                {{=shipping_form.custom.widget.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.street_1['_id']}}" class="form-control-label">{{=shipping_form.custom.label.street_1}}</label>
                                {{=shipping_form.custom.widget.street_1}}
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.street_2['_id']}}" class="form-control-label">{{=shipping_form.custom.label.street_2}}</label>
                                {{=shipping_form.custom.widget.street_2}}
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-5">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.city['_id']}}" class="form-control-label">{{=shipping_form.custom.label.city}}</label>
                                {{=shipping_form.custom.widget.city}}
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.state['_id']}}" class="form-control-label">{{=shipping_form.custom.label.state}}</label>
                                {{=shipping_form.custom.widget.state}}
                            </div>
                        </div>

                        <div class="col-3 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.zip['_id']}}" class="form-control-label">{{=shipping_form.custom.label.zip}}</label>
                                {{=shipping_form.custom.widget.zip}}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.email['_id']}}" class="form-control-label">{{=shipping_form.custom.label.email}}</label>
                                {{=shipping_form.custom.widget.email}}
                            </div>
                        </div>
                    </div>
                    {{=shipping_form.custom.widget.user_id}}                    
                {{=shipping_form.custom.end}}  
            <!-- END SHIPPING-->
            </div>

            <!-- BILLING INFO FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Billing Information</h5>

                {{=billing_form.custom.begin}}
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="{{=billing_form.custom.widget.first_name['_id']}}" class="form-control-label">{{=billing_form.custom.label.first_name}}</label>
                            {{=billing_form.custom.widget.first_name}}
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.last_name['_id']}}" class="form-control-label">{{=billing_form.custom.label.last_name}}</label>
                                {{=billing_form.custom.widget.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.street_1['_id']}}" class="form-control-label">{{=billing_form.custom.label.street_1}}</label>
                                {{=billing_form.custom.widget.street_1}}
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.street_2['_id']}}" class="form-control-label">{{=billing_form.custom.label.street_2}}</label>
                                {{=billing_form.custom.widget.street_2}}
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-5">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.city['_id']}}" class="form-control-label">{{=billing_form.custom.label.city}}</label>
                                {{=billing_form.custom.widget.city}}
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.state['_id']}}" class="form-control-label">{{=billing_form.custom.label.state}}</label>
                                {{=billing_form.custom.widget.state}}
                            </div>
                        </div>

                        <div class="col-3 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.zip['_id']}}" class="form-control-label">{{=billing_form.custom.label.zip}}</label>
                                {{=billing_form.custom.widget.zip}}
                            </div>
                        </div>
                    </div>                  
                {{=billing_form.custom.end}}  
                
                <!-- Checkbox for duplicating shipping info -->
                <div class="col-12 p-2 btn btn-light trigger" onclick="handleToggle(event)">
                    <input type="checkbox" id="use-shipping" class="mr-1" data-toggle="collapse" data-target="#billing-info" aria-expanded="{{if auth.user:}}false{{else:}}true{{pass}}" aria-controls="billing-info" {{if auth.user:}}checked{{pass}}>
                    <label for="use-shipping" class="m-0 cursor-pointer">Same as shipping address</label>
                </div>
            <!-- END BILLING -->
            </div>
            
            <!-- CREDIT CARD FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Payment Information</h5>
                <div class="payment-form w-100 payment-container px-3">                
                        <div class="form-group">
                        <div id="payment-element">
                            <!-- Payment Element will be mounted here -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- Right Side Bar RECEIPT -->
        <div class="col-md-5 order-1 order-md-2" >
            <div class="bg-light p-3 rounded receipt sticky-top h-md-50">
                <h5>Items</h5>
                <!-- LIST ITEMS IN CART -->
                <div>
                    <hr class="mt-2">
                    <table class="checkout-table">
                        <thead>
                            <tr class="text-uppercase text-secondary">
                                <th>Item</th>
                                <th class="text-center">Qty.</th>
                                <th class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in cart_items:
                                product_id= item['product_id']
                                product = db(db.products.id == product_id).select().as_list()[0]
                            }}
                                <tr>
                                    <td><strong>{{=product['product_name']}}</strong></td>
                                    <td class="text-center">{{=item['quantity']}}</td>
                                    <td class="text-right">${{=f"{(product['price'] * item['quantity']):,.2f}"}}</td>
                                </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
                
                <hr class="w-100">
                
                <!-- RECEIPT TOTALS -->
                <div class="row mx-0">
                    <div class="col">
                        Subtotal:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{subtotal:,.2f}"}}
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col">
                        5-Day Shipping:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{shipping:,.2f}"}}
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col">
                        Tax:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{tax_amt:,.2f}"}}
                    </div>
                </div>
                <div class="row mx-0 font-weight-bold">
                    <div class="col text-uppercase">
                        Total:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{total:,.2f}"}}
                    </div>
                </div>

                <hr class="w-100">

                <!-- PLACE ORDER BUTTON md and up-->
                <div class="justify-content-end mt-auto d-none d-md-flex">
                    <button id="place-order" class="btn btn-mise-accent w-100 d-none d-md-block">Place Order</button>
                </div>
                

            </div>
        <!-- END SIDE BAR -->
        </div>
    <!-- END MAIN ROW  -->
    </div>
    <!-- PLACE ORDER BUTTON below md-->
            <div class="d-flex justify-content-end mt-3 d-md-none">
                <button id="place-order" class="btn btn-mise-accent w-100 d-block d-md-none">Place Order</button>
            </div>
{{pass}}


{{block page_js}}
<script src="https://js.stripe.com/v3/"></script>
<script src={{=URL('static','js/mise_checkout.js')}}></script>
{{end page_js}}
