{{extend 'layout.html'}}

    <h2 class="text-accent mb-2" style="margin-left: -15px;">Check Out</h2>
    <div class="row">
        <div class="col-7 pt-3">
            <!-- SHIPPING INFO FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Shipping Information</h5>

                {{=shipping_form.custom.begin}}
                    
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="{{=shipping_form.custom.widget.first_name['_id']}}" class="form-control-label">{{=shipping_form.custom.label.first_name}}</label>
                            {{=shipping_form.custom.widget.first_name}}
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.last_name['_id']}}" class="form-control-label">{{=shipping_form.custom.label.last_name}}</label>
                                {{=shipping_form.custom.widget.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.street_1['_id']}}" class="form-control-label">{{=shipping_form.custom.label.street_1}}</label>
                                {{=shipping_form.custom.widget.street_1}}
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.street_2['_id']}}" class="form-control-label">{{=shipping_form.custom.label.street_2}}</label>
                                {{=shipping_form.custom.widget.street_2}}
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-5">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.city['_id']}}" class="form-control-label">{{=shipping_form.custom.label.city}}</label>
                                {{=shipping_form.custom.widget.city}}
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.state['_id']}}" class="form-control-label">{{=shipping_form.custom.label.state}}</label>
                                {{=shipping_form.custom.widget.state}}
                            </div>
                        </div>

                        <div class="col-3 pl-0">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.zip['_id']}}" class="form-control-label">{{=shipping_form.custom.label.zip}}</label>
                                {{=shipping_form.custom.widget.zip}}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="label-group">
                                <label for="{{=shipping_form.custom.widget.email['_id']}}" class="form-control-label">{{=shipping_form.custom.label.email}}</label>
                                {{=shipping_form.custom.widget.email}}
                            </div>
                        </div>
                    </div>
                    {{=shipping_form.custom.widget.user_id}}                    
                {{=shipping_form.custom.end}}  
            <!-- END SHIPPING-->
            </div>

            <!-- BILLING INFO FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Billing Information</h5>

                {{=billing_form.custom.begin}}
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="{{=billing_form.custom.widget.first_name['_id']}}" class="form-control-label">{{=billing_form.custom.label.first_name}}</label>
                            {{=billing_form.custom.widget.first_name}}
                        </div>
                        <div class="col-6 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.last_name['_id']}}" class="form-control-label">{{=billing_form.custom.label.last_name}}</label>
                                {{=billing_form.custom.widget.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.street_1['_id']}}" class="form-control-label">{{=billing_form.custom.label.street_1}}</label>
                                {{=billing_form.custom.widget.street_1}}
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.street_2['_id']}}" class="form-control-label">{{=billing_form.custom.label.street_2}}</label>
                                {{=billing_form.custom.widget.street_2}}
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-5">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.city['_id']}}" class="form-control-label">{{=billing_form.custom.label.city}}</label>
                                {{=billing_form.custom.widget.city}}
                            </div>
                        </div>

                        <div class="col-4 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.state['_id']}}" class="form-control-label">{{=billing_form.custom.label.state}}</label>
                                {{=billing_form.custom.widget.state}}
                            </div>
                        </div>

                        <div class="col-3 pl-0">
                            <div class="label-group">
                                <label for="{{=billing_form.custom.widget.zip['_id']}}" class="form-control-label">{{=billing_form.custom.label.zip}}</label>
                                {{=billing_form.custom.widget.zip}}
                            </div>
                        </div>
                    </div>                  
                {{=billing_form.custom.end}}  
                
                <!-- Checkbox for duplicating shipping info -->
                <div class="col-12 p-2 btn btn-primary" onclick="this.querySelector('#use-shipping').click()">
                    <input type="checkbox" id="use-shipping" class="mr-1" style="pointer-events:none" data-toggle="collapse" data-target="#billing-info" aria-expanded="{{if auth.user:}}false{{else:}}true{{pass}}" aria-controls="billing-info" {{if auth.user:}}checked{{pass}}>
                    <label for="use-shipping" class="m-0 cursor-pointer">Same as shipping address</label>
                </div>
            <!-- END BILLING -->
            </div>
            
            <!-- CREDIT CARD FORM -->
            <div class="row mb-5">
                <h5 class="w-100 pb-3 border-bottom mb-4">Payment Information</h5>
                <div class="payment-form w-100">
                <div class="form-group">
                    <label for="card-number">Card Number</label>   
                    <div id="card-number" class="stripe-element">
                        <!-- Stripe Elements will create form elements here -->
                    </div>
                    <div id="cardNumber-error" class="error-message" style="color: #df1b41; display: none;"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="card-expiry">Expiration Date</label>   
                        <div id="card-expiry" class="stripe-element">
                            <!-- Stripe Elements will create form elements here -->
                        </div>
                        <div id="cardExpiry-error" class="error-message" style="color: #df1b41; display: none;"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="card-cvc">CVC</label>   
                        <div id="card-cvc" class="stripe-element">
                            <!-- Stripe Elements will create form elements here -->
                        </div>
                        <div id="cardCvc-error" class="error-message" style="color: #df1b41; display: none;"></div>
                    </div>
                </div>
                <!-- General card errors (fallback) -->
                <div id="card-errors" role="alert" style="color: #fa755a; display: none;"></div>
            </div>
            </div>
            
        </div>
        
        <!-- Right Side Bar RECEIPT -->
        <div class="col-5" >
            <div class="bg-light p-3 rounded" style="position: sticky; top:20px;">
                <h5>Items</h5>
                <!-- LIST ITEMS IN CART -->
                <div>
                    <hr>
                    <table class="checkout-table">
                        <thead>
                            <tr class="text-uppercase text-secondary">
                                <th>Item</th>
                                <th class="text-center">Qty.</th>
                                <th class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in cart_items:
                                product_id= item['product_id']
                                product = db(db.products.id == product_id).select().as_list()[0]
                            }}
                                <tr>
                                    <td><strong>{{=product['product_name']}}</strong></td>
                                    <td class="text-center">{{=item['quantity']}}</td>
                                    <td class="text-right">${{=f"{(product['price'] * item['quantity']):,.2f}"}}</td>
                                </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
                
                <hr>
                
                <!-- RECEIPT TOTALS -->
                <div class="row mx-0">
                    <div class="col">
                        Subtotal:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{subtotal:,.2f}"}}
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col">
                        Tax:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{tax_amt:,.2f}"}}
                    </div>
                </div>
                <div class="row mx-0 font-weight-bold">
                    <div class="col text-uppercase">
                        Total:
                    </div>
                    <div class="col-auto text-right">
                        ${{=f"{total:,.2f}"}}
                    </div>
                </div>

                <hr>

                <!-- PLACE ORDER BUTTON -->
                <div class="d-flex justify-content-end">
                    <button id="place-order" class="btn btn-mise-accent w-100">Place Order</button>
                </div>
                

            </div>
        <!-- END SIDE BAR -->
        </div>
    <!-- END MAIN ROW  -->
    </div>


{{block page_js}}
<script src="https://js.stripe.com/v3/"></script>
<script src={{=URL('static','js/mise_checkout.js')}}></script>
{{end page_js}}
