{{extend 'layout.html'}}



{{block head}}

{{end head}}



<!--First Row-->
<div class="row">

	<div class="col-lg-6 order-1">
		<h4>Welcome to M.I.S.E. Computer Store – Cleveland's Trusted Tech Partner!</h4>
		<p>Founded in 2025 by graduates of Cleveland Codes Academy, M.I.S.E. Computer Store was created to bring
			affordable, genuine, and reliable computers to individuals, students, and businesses in our community.</p>


		<p>Our goal is simple — to challenge major retailers by offering you:
		<ul>
			<li>Original products</li>
			<li>Factory-backed warranties</li>
			<li>Community-friendly prices</li>
			<li>Honest, reliable service</li>
		</ul>
		</p>

		<p>Shop smarter. Get quality. Save more.</p>

		<p>Start shopping now!</p>
	</div>


	<div class="col-lg-6 order-2 ">
		<h4>Featured Products</h4>
		<div class="border border-peach rounded-2 p-2 h-100">

			<div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active w-50">
						<img src="/misecomputers/static/images/test_products/APD3.jpg" alt="Desktop Test - 1"
							class="w-100">
					</div>
					<div class="carousel-item w-50">
						<img src="/misecomputers/static/images/test_products/laptop_test_2_trans.png"
							alt="Laptop Test - 1" class="w-100">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--Second Row-->
<div class="row">
	<div class="top-brands w-100 p-4">
		<hr class="w-100 my-4">
		<h3 class="mb-4">Our Brands</h3>
		<div class="row d-flex px-5 flex-gap-2">
			{{
			brands = db(db.brand).select()
			for brand in brands:
			}}
			<a href="{{=URL('search')}}?keyword={{=brand.brand_name}}"
				class="brand-link d-flex align-items-center justify-content-center brand-icon"
				title="See all {{=brand.brand_name}} items.">
				<div class=" d-flex align-items-center justify-content-center py-3">
					<div class="brand-color">
						<div class="brand-link d-flex align-items-center justify-content-center">
							<img class="w-75 filter-logo" src="{{=brand.brand_logo}}" alt="{{=brand.brand_name}} logo"
								style="{{if brand.brand_name in ('Apple', 'HP', 'Dell'):}} width:50% !important; {{pass}}">
						</div>
					</div>
				</div>
			</a>
			{{pass}}
		</div>
	</div>
</div>



<!-- More Items to Consider Section -->
<div class="row mt-5">
	<h3>More Items to Consider</h3>
</div>
<div class="row product-row flex-gap-2">
	{{ 	for item in more_items:
			print(item)
			img_src = item.product_images.image_filename
			img_alt = item.product_images.image_alt
			cat_name = (db(db.categories.id == item.products.category_id).select().first()).category_name.lower()
			print(cat_name)
			cat_name = cat_name.replace("&","").replace(" ","_")
			brand = (db(db.brand.id == item.products.brand_id).select().first()).brand_name.lower()
			product_id = item.products.id
			price = item.products.price
			name = item.products.product_name
			name_link = name.replace(" ", "-")
			stock_qty = item.products.stock_qty
	}}
		<div class="col product justify-content-between">
			<a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}} class="position-relative">
				{{if not stock_qty:}}
					<div class="out-of-stock over-image">OUT OF STOCK</div>
				{{pass}}
				{{=IMG(_src=URL(f'static/images/{cat_name}/{brand}/', img_src), _onerror="this.onerror=null;this.src='%s';" % URL('static', 'images/default-img.png'), _alt=img_alt)}}
			</a>
			<h4 class="mt-3">
				<a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}}>{{=name}}</a>
			</h4>
		
			<div class="price-info mt-3">
				{{if not stock_qty:}}
					<p class="block"><s>${{=f"{price:,.2f}"}}</s></p>
				{{else:}}
					<p class="block">${{=f"{price:,.2f}"}}</p>
				{{pass}}
				<a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}}>
					<button class="btn btn-mise-accent">Learn More</button>
				</a>
			</div>
		</div>

		
	{{ pass }}
</div>