{{extend 'layout.html'}}

<br>
    

<div class="container">
    <div class="row">
        <div class="col-6" style="border:1px solid red">
            <div class="swiper-window">
                <div class="swiper-wrapper" style="translate: 0px;">
                    {{for image in images:
                        img_src = image['image_filename']
                        img_alt = image['image_alt']
                    }}
                    <div class="swiper-item"><img src={{=URL('static/images/test_products', img_src)}} alt={{=img_alt}}></div>
                    {{pass}}
                </div>
            </div>
            <div class="product-view-bar">
                {{
                    for count, image in enumerate(images):
                        img_src = image['image_filename']
                        img_alt = image['image_alt']
                }}
                <div class="thumbnail" data-count={{=count}}><img src={{=URL('static/images/test_products', img_src)}} alt={{=img_alt}}></div>
                {{pass}}
            </div>
            
        </div>
        <div class="col-6" style="border:1px solid red">
            <h4>{{=product['product_name']}}</h4>
            <h5>${{=product['price']}}</h5>
            <ul>
                {{
                key_features = product['key_features']
                for feature in key_features:
                    =LI(*feature)
                }}
                {{pass}}
            </ul>
            <h5>Product Description</h5>
            <p>{{=XML(product['description'])}}</p>
            <form id="add-to-cart">
                <input type="hidden" value="{{=product.id}}" name="product_id" id="product_id">
                {{if auth.user:}}
                    <input type="hidden" value="{{=auth.user.id}}" name="user_id" id="user_id">
                {{else:}}
                    <span>User not logged in</span>
                {{pass}}
                <input type="hidden" value="{{=response.session_id}}" name="session_id" id="session_id">
                <input type="number" value="1" name="quantity" id="quantity">
                <button type="submit" class="add-to-cart">Add To Cart</button>
            </form>
            
        </div>
    </div>
</div>

<div id="target"></div>

<script>
jQuery('#add-to-cart').submit(function() {
  ajax('{{=URL('add_to_cart')}}',
       ['product_id', 'quantity', 'user_id', 'session_id'], 'target');
  return false;
});
</script>

<script src={{=URL('static','js/mise_slider.js')}}></script>

{{=BEAUTIFY(response._vars)}}