{{extend 'layout.html'}}
{{block head}}
<style>
	.ccs-cc-inline .ccs-logo-windows11-home .ccs-cc-inline-windows11-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  font-family: "Segoe UI",wf_SegoeUI,Arial,Helvetica,sans-serif;
}

.ccs-cc-inline .ccs-logo-windows11-home .ccs-cc-inline-windows11-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  font-family: "Segoe UI",wf_SegoeUI,Arial,Helvetica,sans-serif;
}

.description > img {
	width:100%;
	padding:1rem;
}

.description .row {
	width:75%;
	padding:1rem;
	margin:1rem auto;
}

.description .row h3 {
	margin:1rem 0;
}

.description .row .col-6 {
	margin:auto;
}

.spec-body {
	border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  overflow: visible;
  overflow: initial;
  width: auto;
}

.spec-body > div {
	width:50%;
}

.spec-body > div:first-of-type {
	font-weight: bold;
}



</style>
{{end head}}

<div class="row mb-5">
	<!-- Left column with images -->
	<div class="col-6">
		<div class="swiper-window">
			<div class="swiper-wrapper" style="translate: 0px;">
				{{for image in images:
				img_src = image['image_filename']
				img_alt = image['image_alt']
				}}
				<div class="swiper-item"><img src={{=URL(f'static/images/{cat}/{brand}', img_src)}} onerror="this.onerror=null;this.src='{{=URL('static', 'images/default-img.png')}}';" alt={{=img_alt}}>
				</div>
				{{pass}}
			</div>
		</div>
		<div class="product-view-bar">
			{{
			for count, image in enumerate(images):
			img_src = image['image_filename']
			img_alt = image['image_alt']
			}}
			<div class="thumbnail" data-count={{=count}}><img src={{=URL(f'static/images/{cat}/{brand}', img_src)}} onerror="this.onerror=null;this.src='{{=URL('static', 'images/default-img.png')}}';"
					alt={{=img_alt}}></div>
			{{pass}}
		</div>
	</div>
	<!-- Right column with info -->
	<div class="col-6">
		<h2 class="font-weight-bold mb-4">{{=product['product_name']}}</h2>
		<h3 class="mb-5">${{=product['price']}}</h3>
		<h5 class="border-bottom p-1 text-uppercase">Key Features</h5>
		<ul class="mb-5">
			{{
            features = db((db.product_attribute.product_id == product_id)).select()

            for i in features:
				desc = db(db.attribute_description.id == i.attribute_id).select().first()
			}}
		
				<li><i>{{=desc.longhand}}</i>: {{=i.attribute_value}}</li>
				{{pass}}
				{{pass}}

			{{pass}}
		</ul>
		<form id="add-to-cart">
			<input type="hidden" value="{{=product.id}}" name="product_id" id="product_id">
			{{if auth.user:}}
			<input type="hidden" value="{{=auth.user.id}}" name="user_id" id="user_id">
			{{pass}}
			<input type="hidden" value="{{=response.session_id}}" name="session_id" id="session_id">
			<div class="d-flex align-items-center justify-content-between w-100 flex-gap-4">
				<div class="d-flex align-items">
					<label for="quantity" class="mr-2 mb-0"><span class="align-middle">QTY.</span></label>
					<input type="number" value="1" name="quantity" id="quantity" size="2" class="">
				</div>
				<div class="flex-fill">
						{{if product['stock_qty']>0:}}
                        <button type="submit" class="btn btn-mise-accent w-100">
						<i class="fa fa-plus mr-1" aria-hidden="true"></i>
                        Add to Cart
                        {{else:}}
                        <button type="submit" class="btn btn-mise-accent w-100" disabled>
                        Out of Stock
                        {{pass}}
 					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-12 description">
		<h5 class="text-uppercase">Product Description</h5>
		<p>{{=XML(product['description'])}}</p>
	</div>
</div>

{{block page_js}}
<script>
    var stock_qty = {{=product['stock_qty']}};

    if (stock_qty > 0) {
        jQuery('#add-to-cart').submit(function () {
            ajax('{{=URL('add_to_cart')}}',
                ['product_id', 'quantity', 'user_id', 'session_id'], 'target');
            return false;
        });
    } else {
        // Disable the add to cart button and change its text
        jQuery('#add-to-cart-button')
            .prop('disabled', true)
            .text('Out Of Stock');
    }
</script>

<script src={{=URL('static','js/mise_slider.js')}}></script>
{{end page_js}}
