<!DOCTYPE html>
<!-- STARTING SECTION -->
<html lang="en">
	<head>
	</head>
	<body style="box-sizing: border-box;">
		<div style="width:800px; margin:0 auto; border-radius: 6px; overflow: clip;">
            <div style="padding:16px; background-color: hsl(203, 81%, 83%); text-align: center;">
                <a href="http://127.0.0.1:8000/misecomputers/default/index" target="_blank">
                    <img src="https://www.ianzainea.com/mise/images/miselogolong2.png" alt="MISE logo" style="width:250px;">
                </a>
            </div>
            <div style="background-color: hsl(0, 0%, 98%); padding:16px;">
                <h1>Thank you for your order with MISE Computers</h1>

                <!-- ORDER NUMBER SECTION -->
                <p>Your order number is <strong>#{session.ty["order_number"]}</strong></p>

                <!-- PAYMENT TOTAL -->
                <p>A payment of <strong>${order.total_cost}</strong> was charged to the card ending in <strong>{session.ty["last4"]}</strong>.</p>

                <!-- SHIPPING -->
                <h2 style="margin-top:36px;">Shipping Details:</h2>
                <p>Your items are expected to arrive on <strong>{arrives}</strong>.</p>
                <p>Tracking number: <strong>{shipping_info.tracking_number}</strong></p>
                
                <h2 style="margin-top:36px;">Your Items:</h2>

                <!-- START PRODUCT -->
                <table style="background-color: hsl(0, 0%, 100%); width:100%; border:1px solid hsl(39, 100%, 50%); border-radius: 4px; overflow: clip; background-clip:border-box; margin:25px 0px;">
                    <tr>
                        <td rowspan="3" style="width:30%;">
                            <img src="https://www.ianzainea.com/mise/images/{cat}/{brand}/{image}" alt="image of {product.product_name}" style="width:100%; display: block; border-radius: 0 4px 4px; outline:1px solid hsl(39, 100%, 50%);">
                        </td>
                        <td colspan="2" style="padding:16px; vertical-align: bottom;">
                            <h3 style="margin:0;padding:0;">{product.product_name}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 16px; vertical-align: top;">
                            Price: {product.price}
                        </td>
                        <td style="padding: 0 16px; vertical-align: top;">
                            Qty: <strong>{qty}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>&nbsp;</p></td>
                    </tr>
                </table>
                <!-- END PRODUCT -->
                
                <!-- LAST SECTION -->
                <p style="margin-top:30px;">Thanks again for shopping with us! See you again soon!</p>
            </div>
            <p style="margin-top:30px">MISE Computers &copy;{datetime.now().year}</p>
		</div>
	</body>
</html>
