{{extend 'layout.html'}}

<h1 class="text-accent">Order History</h1>

{{if not orders:}}

  <p>You have no past orders.</p>

{{else:}}

  {{for order in orders:}}

    <div class="card mb-4 shadow p-3 rounded bg-light">
      <div class="card-header">

        <strong>Order #{{=order.order_number}}</strong> <br>
        Date: {{=order.order_date.strftime('%Y-%m-%d %I:%M %p')}} <br>
        Total: ${{=order.total_cost}} | Items: {{=order.total_items}}
      </div>

      <div class="card-body">
        <ul>
          {{for item in order_lines[order.id]:}}
            <li>
              {{=item.quantity_of_item}} × 
              {{=db.products[item.product_id].product_name}} at 
              ${{=item.price}} each
            
            <a href="{{=URL('default', 'order_history')}}" class="btn btn-primary">View Order History</a>
            </li>
          {{pass}}
        </ul>
      </div>
    </div>
  {{pass}}
{{pass}}
