{{extend 'layout.html'}}

<div class="row">
    <div class="col-12">
        {{if session.ty:}}
        <h2>Thank you!</h2>
        <p>Your order number is <strong><a href="">#{{=session.ty['order_number']}}</a></strong></p>
        <p>A payment of <strong>${{=f"{session.ty['total']:,.2f}"}}</strong> was charged to the card ending in <strong>{{=session.ty['last4']}}</strong>.</p>
        <p>A confirmation email was sent to <em>{{=session.ty['email']}}</em></p>
        {{else:}}
        <h2>Oh no!</h2>
        <p>There was some system error! Please check for a confirmation email. If none appears, contact support.</p>
        {{pass}}
    </div>
</div>



{{block page_js}}
<script>
    "use strict"
    if (localStorage.getItem('order_success') !== null) {
        console.log('email would be sent')
        ajax(`{{=URL('default', 'order_confirmation_email')}}`, [], '');
        // localStorage.removeItem('order_success');
    }
    
</script>
{{#if session.ty:}}
    {{#del session.ty}}
    {{#pass}}
{{end page_js}}

