{{extend 'layout.html'}}

<div class="row">
    <div class="col-12">
        {{if session.ty:}}
        <h2 class="mb-4">Thank you!</h2>

        <hr>

        <!-- ORDER NUMBER SECTION -->
        <p>Your order number is <strong>#{{=session.ty['order_number']}}</strong></p>

        <!-- PAYMENT TOTAL -->
        <p>A payment of <strong>${{=f"{session.ty['total']:,.2f}"}}</strong> was processed
        {{if session.ty.get('last4'):}}
            and charged to the card ending in <strong>{{=session.ty['last4']}}</strong>
        {{elif session.ty.get('payment_method'):}}
            with <strong>{{=session.ty['payment_method']}}</strong>
        {{else:}}
            successfully
        {{pass}}
        .</p>
        
        <!-- SHIPPING -->
        <h4 class="mt-5 mb-3">Shipping Details:</h4>
        <p>Your items are expected to arrive on <strong>{{=arrives}}</strong>.</p>
        <p>Tracking number: <strong>{{=shipping_info.tracking_number}}</strong></p>

        <hr class="my-5">

        <!-- CONFIRMATION EMAIL NOTICE -->
        <p class="">A confirmation email was sent to <em>{{=session.ty['email']}}</em></p>

        <!-- IF THERE WAS SOME KINDA ERROR OR THEY HIT "BACK" -->
        {{else:}}
            <h2>Oh no!</h2>
            <p>There was some system error! Please check for a confirmation email. If none appears, contact support.</p>
        {{pass}}


    </div>
</div>



{{block page_js}}
<script>
    "use strict"
    if (localStorage.getItem('order_success') !== null) {
        ajax(`{{=URL('default', 'order_confirmation_email')}}`, [], '');
        localStorage.removeItem('order_success');
    }
    
</script>
{{end page_js}}

