*.table
*.log
*.sqlite
*.pyc
sessions/*
progress.log
errors/*
databases/*
databases/storage.sqlite
private/private.py
*.sqlite
databases/storage.sqlite
/databases
# Python compiled files
__pycache__/
*.pyc

# Web2py database
databases/*.sqlite
