{{extend 'layout.html'}}

<h3 class="mb-4 text-accent">About Us</h3>

<p>M.I.S.E. Computer Store is a licensed computer brand based in Cleveland, Ohio, USA. Founded in 2025 by four computer geniuses — Ian, Maureen, Selena, and Emmanuel — all graduates of Cleveland Code Academy, the company was born out of a vision to provide the community with access to high-quality, genuine computers at affordable prices.
</p>

<p>M.I.S.E. Computer Store specializes in both laptops and desktop computers, making technology accessible to individuals, students, businesses, and organizations without compromising quality.
</p>

<p>The company is a licensed partner with top global technology brands, including:
<ul>
 <li>Apple</li>
 <li>ASUS</li>
 <li>Dell</li>
 <li>HP</li>
 <li>Lenovo</li>
</ul>

Through these partnerships, M.I.S.E. Computer Store guarantees original, durable, and reliable products directly from manufacturers.
</p>


<p>
<h4>Our Mission:</h4>
To bridge the gap between affordability and quality by offering genuine computer products at unbeatable prices, thereby empowering individuals and businesses in our community.
</p>

<p>
<h4>Our Vision:</h4>
To rival retail giants like Amazon and Walmart by focusing on customer trust, affordability, and guaranteed authenticity in every product we sell.
</p>
