{{extend 'layout.html'}}
<h1>This is the laptop_test.html template</h1>

<p>
    This is a test of how to get user features. Here i am using auth.user and assigning that to the variable user_info, then using user_info.first_name to get the first name and doing the 
    same for the last name. For some reason, auth.user.first_name doesn't work. maybe it would be auth.user('first_name') ... I will try other things too.
    <br><br>
    this line works! last_name = auth.user('last_name') ... last name is: <b>{{=last_name}}</b>
</p>
<p>
    Hello, your first name is <b>{{=user_info.first_name}}</b> and your last name is <b>{{=user_info.last_name}}</b>
</p>
<h3>
    Below is a test of the products listing
</h3>
<div class="container">
    <div class="row product-row">
        

    

{{ for row in rows:
    name = row['product_name']
    name_link = name.replace(" ", "-")
    price = row['price']
    key_features = row['key_features']
    img_src = row['image_filename']
    img_alt = row['image_alt']
    product_id = row['product_id']
    }}
    <div class="col product" style="border:1px solid red">
        {{=IMG(_src=URL('static/images/test_products', img_src), _alt=img_alt)}}
        <h4 class="mt-3"><a href="{{=URL('item_page', args=(str(product_id) + '--' + name_link))}}" data-product-id={{=product_id}}>{{=name}}</a></h4>
        
        <ul>
            {{
            features = key_features[1:-1].split("|")
            for feature in features:
                =LI(*feature)
            }}
            {{pass}}
        </ul>
        <div class="price-info">
            <p class="block">${{=f"{price:.2f}"}}</p>
            <button class="add-to-cart" data-product-id={{=product_id}}>Add To Cart</button>
        </div>
    </div>
    {{pass}}
    
    </div>
         
</div>
<br>
<br>
<br>
<br>
    
    
    
{{=BEAUTIFY(response._vars)}}
