<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> 
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!-- www.phpied.com/conditional-comments-block-downloads/ -->
	<!-- Always force latest IE rendering engine
		(even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<!--  Mobile Viewport Fix
		j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
		device-width: Occupy full width of the screen in its current orientation
		initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
		user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{=response.title}}</title>
	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="{{=request.application}}">
	<!-- Speaking of Google, don't forget to set your site up:
		http://google.com/webmasters -->
	<meta name="google-site-verification" content="">

	<!-- USE A GOOGLE FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- include stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
	
	<!-- Our custom css for mise computers -->
	<link rel="stylesheet" href="{{=URL('static','css/mise.css')}}"/>
	
	<!-- Favicons (MISE) --> 
	<link rel="apple-touch-icon" sizes="180x180" href="{{=URL('static','images/Fav_Icon/apple-touch-icon.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{=URL('static','images/Fav_Icon/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','images/Fav_Icon/favicon-16x16.png')}}">
	<link rel="manifest" href="{{=URL('static','images/Fav_Icon/site.webmanifest')}}">
	
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
	<script src="https://js.stripe.com/basil/stripe.js"></script>
	
	{{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
	
	<!-- Here you can add stuff to the <head> element on an indiviual page, like one page needs specific css page but not others -->
	{{block head}}
	{{end}}
</head>

<body>
	<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
	
<!-- Navbar ======================================= -->
	<nav class="navbar navbar-light bg-secondary navbar-expand-lg mb-5">
		
		<div class="container mb-0 flex-gap-2">

			<!-- MISE Computers logo and logo hyperlinked to Home /index page-->
			<a class="navbar-brand m-0" href="{{=URL('default','index')}}">
				<img width="150" src="/misecomputers/static/images/miselogolong2.png" alt="Company Logo"/>
			</a>

			

			<div class="d-flex align-items-center flex-grow-1 flex-gap-2" id="navbarNavDropdown">
				<!--Categories Drop Down Menu-->
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle font-weight-bold text-primary align-items-center d-flex flex-gap-25" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="fa fa-bars fa-lg d-none d-sm-inline" aria-hidden="true"></div> 
							MENU
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							{{categories = db(db.categories).select()
							for category in categories:
								cat_id = category['id']
								cat_name = category['category_name']
								cat_link = cat_name.replace(" ", "-")
							}}
							<a class="dropdown-item text-capitalize" href="{{=URL('category_page', args=(str(cat_id) + '--' + cat_link))}}" data-product-id={{=cat_id}}>{{=cat_name}}</a>
							{{pass}}
						</div>
					</li>
				</ul>

				<!-- SEARCH BAR -->
				<form class="form-inline flex-grow-1" action="{{=URL('default', 'search')}}" method="post">
					<div class="input-group w-100">
						<input class="form-control border-0 pill-left pl-4 search d-none d-md-block" type="text" name="keyword" placeholder="What would you like to search for today?">
						<div class="input-group-append ml-bmd-auto">
							<button class="fa fa-search text-primary btn btn-medium pill-bmd" aria-hidden="true" type="submit"></button>
						</div>
					</div>
				</form>

				<!-- BEGIN LOGIN MENU ITEM AND DROPDOWN -->
				<ul class="nav navbar-nav align-items-center flex-row flex-gap-2">

				{{if 'auth' in globals():}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown font-weight-bold text-primary" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="d-flex align-items-center no-arrow-menu flex-gap-25" style="">
								<div class="fa fa-user-circle-o fa-lg d-none d-lg-inline" aria-hidden="true"></div>
								<div class="fa fa-user-circle-o fa-2x d-lg-none" aria-hidden="true"></div>
									<div class="" style="width:min-content;">
										<!-- Checks to see if there is a user logged in, if so, display their name, if not display "login-->
										{{if auth.user:}}
											<span class="d-lg-block d-none">{{=auth.user.first_name}}</span>
										{{else:}}
											<p class="font-small p-0 m-0">
												LOG-IN /<br>
												SIGN-UP
											</p>
										{{pass}}
									</div>
								<i class="fa fa-caret-down d-lg-block d-none" aria-hidden="true" style="position:relative; top:2px;"></i>
							</div>
							
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<!-- If you are logged in, you get these options -->
							{{if auth.user:}}
								<a class="dropdown-item" href="{{=URL('default','account')}}">{{=T('Account')}}</a>
								{{if 'change_password' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
								{{pass}}
								<a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
								
								<!-- If you are not logged in, you get these options, the "else options" -->
							{{else:}}
								<a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}} </a>
								<!-- This just makes sure that registering a new user isn't disabled -->
								{{if 'register' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
								{{pass}}
								<!-- This just makes sure that the ability to retrieve a password isnt' disabled -->
								{{if 'retrieve_password' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
								{{pass}}
							{{pass}}
						</div>
					</li>
				{{pass}}
				<!-- END LOGIN MENU -->

				<!-- SHOPPING CART ICON -->
					<li class="nav-item d-flex" style="flex-direction: column;">
						<a class="nav-link text-primary p-0" href="{{=URL('default','shopping_cart2')}}" title="Tooltip on bottom">
							<div>
								<div class="fa fa-cart-plus" style="font-size:2.5rem" aria-hidden="true"></div>
							</div>
							<div class="d-lg-block d-none" style="margin-top: -6px;">
								<span class="font-weight-bold " style="font-size:0.875rem; padding-inline-start: 2px;">CART</span>
							</div>
						</a>
						
					</li>
				</ul>
					
				
			</div>
		</div>
	</nav>

	<!-- Masthead ===================================== -->
		<!-- Here is where you can add custom header section on any page without
		having to edit the layout.html page -->
	{{block header}}
	{{end}}

	<!-- Main ========================================= -->

	<!-- Begin page content -->
	<div class="container main-container">
	{{include}}
	</div>

<!-- BEGIN FOOTER -->
		<!-- this is default footer 
			this will show up on every page, UNLESS you put a custom footer on that page
			and surround it by block footer and end -->
	
	{{block footer}} <!-- this is default footer -->
	<footer class="footer container-fluid bg-secondary rounded-top">
		<div class="row">
			<div><a href="{{=URL('privacy')}}" style="color:black">Privacy Notice</a>&nbsp;|&nbsp;</div> 
			<div><a href="{{=URL('default','terms')}}" style="color:black">Terms of Use</a>&nbsp;|&nbsp;</div> 
			<div><a href="{{=URL('default','aboutus')}}" style="color:black">About Us</a></div>
			
			<div class="ml-auto">{{=T('Copyright')}} &#169; {{=request.now.year}} MISE Computers, LLC</div>
		</div>	
	</footer>
	{{end}}


	<!-- The javascript =============================== -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	<script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>

	<!-- You can use this block section to put page-specific javascript in to the bottom of the page -->
	{{block page_js}}
	{{end page_js}}

	<!-- checking if there is a google analytics id set in the globals, if not skip it -->
	{{if response.google_analytics_id:}}
	<!-- Analytics ==================================== -->
	<script src="{{=URL('static','js/analytics.min.js')}}"></script>
	<script type="text/javascript"> analytics.initialize({'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}});</script>
	{{pass}}
</body>
</html>
