<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> 
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!-- www.phpied.com/conditional-comments-block-downloads/ -->
	<!-- Always force latest IE rendering engine
		(even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<!--  Mobile Viewport Fix
		j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
		device-width: Occupy full width of the screen in its current orientation
		initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
		user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{=response.title}}</title>
	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="{{=request.application}}">
	<!-- Speaking of Google, don't forget to set your site up:
		http://google.com/webmasters -->
	<meta name="google-site-verification" content="">

	<!-- USE A GOOGLE FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- include stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
	
	<!-- Our custom css for mise computers -->
	<link rel="stylesheet" href="{{=URL('static','css/mise.css')}}"/>
	
	<!-- Favicons (MISE) --> 
	<link rel="apple-touch-icon" sizes="180x180" href="{{=URL('static','images/Fav_Icon/apple-touch-icon.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{=URL('static','images/Fav_Icon/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','images/Fav_Icon/favicon-16x16.png')}}">
	<link rel="manifest" href="{{=URL('static','images/Fav_Icon/site.webmanifest')}}">
	
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
	<script src="https://js.stripe.com/basil/stripe.js"></script>
	
	{{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
	
	<!-- Here you can add stuff to the <head> element on an indiviual page, like one page needs specific css page but not others -->
	{{block head}}
	{{end}}
</head>

<body>
	
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

	<!-- Navbar ======================================= -->
	<nav class="navbar navbar-light bg-secondary navbar-expand-lg mb-5">
		<div class="container mb-0 flex-gap-2">

			<!-- MISE Computers logo -->
			<a class="navbar-brand m-0 mise-logo" href="{{=URL('default','index')}}">
				<img src="/misecomputers/static/images/miselogolong2.png" alt="Company Logo" class="w-100">
			</a>

			<!-- CATEGORIES DROP DOWN MENU-->
			<div class="d-flex align-items-center flex-grow-1 flex-gap-2" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<!-- CONTROLLER LINK FOR BIG SCREEN MENU -->
						<a class="nav-link dropdown-toggle font-weight-bold text-primary align-items-center flex-gap-25 d-none d-md-flex" href="#" id="categoryMenuBtn" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
							<div class="fa fa-bars fa-lg" aria-hidden="true"></div> 
							MENU
						</a>
						<!-- CONTROLLER LINK FOR MOBILE MENU -->
						<a 	class="	nav-link
									font-weight-bold 
									text-primary 
									align-items-center 
									d-flex 
									flex-gap-25 
									d-md-none" 
							href="#" 
							id="categoryMenuBtnMobile" 
							data-toggle="collapse" 
							data-target="#categoryMenuItems" 
							aria-expanded="false" 
							aria-controls="categoryMenuItems"
							>
							<div class="fa fa-bars fa-lg" aria-hidden="true"></div> 
							MENU
						</a>
						<div class="d-none d-md-block">
							<div class="dropdown-menu" style="position: absolute;">
								{{categories = db(db.categories).select()
								for category in categories:
									cat_id = category['id']
									cat_name = category['category_name']
									cat_link = cat_name.replace(" ", "-")
								}}
								<a class="dropdown-item text-capitalize" href="{{=URL('category_page', args=(str(cat_id) + '--' + cat_link))}}" data-product-id={{=cat_id}}>{{=cat_name}}</a>
								{{pass}}
							</div>
						</div>
					</li>
				</ul>

				<!-- SEARCH BAR -->
				<form class="form-inline flex-grow-1 d-none d-md-block" action="{{=URL('default', 'search')}}" method="post">
					<div class="input-group w-100">
						<input class="form-control border-0 pill-left pl-4 search d-none d-md-block" type="text" name="keyword" placeholder="What would you like to search for today?">
						<div class="input-group-append ml-bmd-auto">
							<button class="fa fa-search text-primary btn btn-medium" aria-hidden="true" type="submit"></button>
						</div>
					</div>
				</form>
				<!-- CONTROLLER LINK FOR MOBILE SEARCH -->
				<a 	class="	font-weight-bold 
							text-primary  
							d-md-none
							mobile-icon
							ml-auto" 
					href="#" 
					id="searchBtnMobile" 
					data-toggle="collapse" 
					data-target="#searchMobile" 
					aria-expanded="false" 
					aria-controls="searchMobile"
					>
					<i class="d-md-none fa fa-search text-primary btn btn-medium rounded-pill" aria-hidden="true"></i>
				</a>

				<!-- BEGIN LOGIN MENU ITEM AND DROPDOWN -->
				<ul class="nav navbar-nav align-items-center flex-row flex-gap-2">
				{{if 'auth' in globals():}}
					<li class="nav-item dropdown">

						<!-- CONTROLLER LINK FOR BIG SCREEN MENU -->
						<a 	class="nav-link dropdown font-weight-bold text-primary d-none d-md-flex" 
							href="#" id="userMenuBtn" 
							data-toggle="dropdown" 
							aria-haspopup="true" 
							aria-expanded="false"
							>
							<div class="d-flex align-items-center no-arrow-menu flex-gap-25">
								<div class="fa fa-user-circle-o fa-lg d-none d-lg-inline" aria-hidden="true"></div>
								<div class="fa fa-user-circle-o fa-2x d-lg-none" aria-hidden="true"></div>
									<div class="" style="width:min-content;">
										{{if auth.user:}}
											<span class="d-lg-block d-none">{{=auth.user.first_name}}</span>
										{{else:}}
											<p class="font-small p-0 m-0">
												LOG-IN /<br>
												SIGN-UP
											</p>
										{{pass}}
									</div>
								<i class="fa fa-caret-down d-lg-block d-none" aria-hidden="true" style="position:relative; top:2px;"></i>
							</div>
						</a>

						<!-- CONTROLLER LINK FOR MOBILE MENU -->
						<a 	class="nav-link dropdown font-weight-bold text-primary d-md-none" 
							href="#" id="userMenuBtnMobile" 
							data-toggle="collapse" 
							data-target="#userMenuItems" 
							aria-expanded="false" 
							aria-controls="userMenuItems"
							>
							<div class="d-flex align-items-center no-arrow-menu flex-gap-25">
								<div class="fa fa-user-circle-o fa-lg d-none d-lg-inline" aria-hidden="true"></div>
								{{if auth.user:}}
									<div class="fa fa-user-circle-o fa-2x d-lg-none" aria-hidden="true"></div>
								{{pass}}
									<div class="" style="width:min-content;">
										{{if auth.user:}}
											<span class="d-lg-block d-none">{{=auth.user.first_name}}</span>
										{{else:}}
											<p class="font-small p-0 m-0">
												LOG-IN /<br>
												SIGN-UP
											</p>
										{{pass}}
									</div>
								<i class="fa fa-caret-down d-lg-block d-none" aria-hidden="true" style="position:relative; top:2px;"></i>
							</div>
						</a>

						<div class="d-none d-md-block">
							<div class="dropdown-menu dropdown-menu-right" style="position: absolute;">
								<!-- If you are logged in, you get these options -->
								{{if auth.user:}}
									<a class="dropdown-item" href="{{=URL('default','account')}}">{{=T('Account')}}</a>
									{{if 'change_password' not in auth.settings.actions_disabled:}}
									<a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
									{{pass}}
									<a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
									<!-- If you are not logged in, you get these options, the "else options" -->
								{{else:}}
									<a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}} </a>
									{{if 'register' not in auth.settings.actions_disabled:}}
									<a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
									{{pass}}
									{{if 'retrieve_password' not in auth.settings.actions_disabled:}}
									<a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
									{{pass}}
								{{pass}}
							</div>
						</div>
					</li>
				{{pass}}
				<!-- END LOGIN MENU -->

				<!-- SHOPPING CART ICON -->
					<li class="nav-item d-flex" style="flex-direction: column;">
						<a class="nav-link text-primary p-0" href="{{=URL('default','shopping_cart2')}}" title="Tooltip on bottom">
							<div class="position-relative">
								<div class="fa fa-shopping-cart" style="font-size:2.5rem;" aria-hidden="true"></div>
								<div id="cart-counter"><div>{{=session.cart_counter}}</div></div>
							</div>
							<div class="d-lg-block d-none" style="margin-top: -6px;">
								<span class="font-weight-bold " style="font-size:0.875rem; padding-inline-start: 2px;">CART</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- MOBILE MENU FOR THE CATEGORY MENU -->
		<div id="accordion" class="mt-2 w-100 d-md-none" style="overflow: clip;">
			<div class="card border-0" style="overflow: clip;">
				<div id="categoryMenuItems" class="collapse " aria-labelledby="categoryMenuBtnMobile" data-parent="#accordion" style="overflow: clip;">
					<div class="card-body mise-dropdown-menu px-0 py-2" style="overflow: clip;">
						{{categories = db(db.categories).select()
						for category in categories:
							cat_id = category['id']
							cat_name = category['category_name']
							cat_link = cat_name.replace(" ", "-")
						}}
						<a class="dropdown-item text-capitalize" href="{{=URL('category_page', args=(str(cat_id) + '--' + cat_link))}}" data-product-id={{=cat_id}}>{{=cat_name}}</a>
						{{pass}}
					</div>
				</div>
			</div>

			<!-- MOBILE MENU FOR THE USER MENU -->
			<div class="card border-0" style="overflow: clip;">
				<div id="userMenuItems" class="collapse" aria-labelledby="userMenuBtnMobile" data-parent="#accordion" style="overflow: clip;">
					<div class="card-body mise-dropdown-menu px-0 py-2" style="overflow: clip;">
						<!-- If you are logged in, you get these options -->
						{{if 'auth' in globals():}}
							{{if auth.user:}}
								<a class="dropdown-item" href="{{=URL('default','account')}}">{{=T('Account')}}</a>
								{{if 'change_password' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a>
								{{pass}}
								<a class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a>
								
								<!-- If you are not logged in, you get these options, the "else options" -->
							{{else:}}
								<a class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}} </a>
								{{if 'register' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a>
								{{pass}}
								{{if 'retrieve_password' not in auth.settings.actions_disabled:}}
								<a class="dropdown-item" href="{{=URL('default','user/retrieve_password')}}">{{=T('Lost Password')}}</a>
								{{pass}}
							{{pass}}
						{{pass}}
					</div>
				</div>
			</div>

			<!-- MOBILE MENU FOR THE SEARCH BAR -->
			<div class="card search-mobile border-0" style="overflow: clip;">
				<div id="searchMobile" class="collapse" aria-labelledby="searchBtnMobile" data-parent="#accordion" style="overflow: clip;">
					<div class="card-body px-0 py-2" style="overflow: clip;">
						<form class="form-inline flex-grow-1 d-md-none" action="{{=URL('default', 'search')}}" method="post">
							<div class="input-group w-100  mx-1">
								<input class="form-control border-0 pill-left pl-4 search d-md-none" type="text" name="keyword" placeholder="What would you like to search for today?">
								<div class="input-group-append ml-bmd-auto">
									<button class="fa fa-search text-primary btn btn-medium" aria-hidden="true" type="submit"></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Masthead ===================================== -->
	<!-- Here is where you can add custom header section on any page without
	having to edit the layout.html page -->
	{{block header}}
	{{end}}

	<!-- Main ========================================= -->
	<!-- Begin page content -->
	<div class="container main-container">
	{{include}}
	</div>

	<!-- BEGIN FOOTER ========================================= -->
	{{block footer}}
	<footer class="footer container-fluid bg-secondary rounded-top">
		<div class="row justify-content-between pb-3">
			<div class="d-flex">
				<div class="footer-link flex-grow-1 flex-shrink-1"><a class="text-dark" href="{{=URL('privacy')}}">Privacy Notice</a></div> 
				<div class="footer-link flex-grow-1 flex-shrink-1"><a class="text-dark" href="{{=URL('default','terms')}}">Terms of Use</a></div> 
				<div class="footer-link flex-grow-1 flex-shrink-1"><a class="text-dark" href="{{=URL('default','aboutus')}}">About Us</a></div>
				<div class="flex-grow-1 flex-shrink-1"><a class="text-dark" href="{{=URL('default','contact')}}">Contact Support</a></div>
			</div>
			<div>{{=T('Copyright')}} &#169; {{=request.now.year}} MISE Computers, LLC</div>
		</div>	
	</footer>
	{{end}}

	<!-- The javascript =============================== -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	<script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>

	<!-- You can use this block section to put page-specific javascript in to the bottom of the page -->
	{{block page_js}}
	{{end page_js}}

	<!-- checking if there is a google analytics id set in the globals, if not skip it -->
	{{if response.google_analytics_id:}}
	<!-- Analytics ==================================== -->
	<script src="{{=URL('static','js/analytics.min.js')}}"></script>
	<script type="text/javascript"> analytics.initialize({'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}});</script>
	{{pass}}

	<script>
		"use strict"
		if (navigator.userAgent.includes("Chrome")) {
			document.querySelector('#cart-counter').style.top = '4px';
		}
	</script>
</body>
</html>
