/*-------------------------------------------------------------------------------------------------------------------*/
/* Color Variables */
:root {
    --primary: hsl(200, 60%, 50%);
    --secondary: hsl(203, 81%, 83%);
    --accent: hsl(39, 100%, 50%);
    --medium-gray: hsl(208, 7%, 92%);
    --highlight: hsl(202, 65%, 58%);
    --peach: hsl(25, 100%, 80%);
    --colorDanger: hsl(348, 78%, 49%); 

}

/*-------------------------------------------------------------------------------------------------------------------*/
/* GENERAL HTML ADJUSTMENTS */
input::placeholder {
    color: #dddddd !important;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/* WEB 2 PY TWEAKS */
div.w2p_flash.alert {
    z-index: 2000;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* override some bootstrap colors and classes */
a {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-accent {
    background-color: var(--accent);
}

.border-primary {
    border-color: var(--primary);
}

.btn {
    border-radius: 100vw;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--highlight) !important;
    border-color: var(--highlight) !important;
}


.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-medium {
    background-color: var(--medium-gray);
    border-color: var(--medium-gray);
}

.btn-accent {
    background-color: var(--accent);
    border-color: var(--accent);
}

.text-primary,
a.text-primary:visited {
    color: var(--primary) !important;
}

.text-accent {
    color: var(--accent);
}

.text-danger {
    color: var(--colorDanger) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: var(--highlight) !important;
}

a.text-primary:active {
    color: var(--primary) !important;
}

p {
    word-wrap: break-word;
}

input[type="checkbox"] {
    margin-inline-end: .25rem;
}

.container {
    margin-bottom: 250px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM UTILITY CLASSES ------------------------- */

.font-small {
    font-size: .75rem;
    line-height: 1rem;
}

.pill-left {
    border-radius: 100vw 0 0 100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-gap-1 {
    gap: .5rem;
}

.flex-gap-2 {
    gap: 1rem;
}

.flex-gap-3 {
    gap: 1.5rem;
}

.flex-gap-4 {
    gap: 2rem;
}

.input-num-w-3 {
    width: 3em;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Nav Bar classes */


/*-------------------------------------------------------------------------------------------------------------------*/
/* Home Page */

.top-brands {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #FFCFA3
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Adjusting product items */

.product {
    display: flex;
    flex-direction: column;
    /* background-color: var(--product-color); */
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1 1 330px;
    padding: 1rem;
    border: 1px solid var(--peach);
}

.empty {
    background-color: transparent;
    border-color: transparent;
}

.product img {
    width: 100%;
    max-height: 150px;
    display: block;
    object-fit: scale-down;
    /* object-position: 0 20%; */
}

.product> :not(img) {
    margin-inline: 0rem;
}

.price-info {
    margin-block-start: auto;
    margin-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-info>p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-mise-accent {
    line-height: 1;
    border: 2px solid var(--accent);
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: .75rem 1.25rem;

    &:hover {
        background-color: transparent;
        color: var(--accent) !important;
    }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Item Page Stuff */

.swiper-window {
    overflow: clip;
}

.swiper-wrapper {
    display: flex;
    gap: 1rem;
    translate: 0px;
    transition: translate 500ms;
}

.swiper-item {
    flex-shrink: 0;
    display: flex;
    aspect-ratio: 4 / 3;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper-item>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-view-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.thumbnail {
    width: 66px;
    height: 66px;
    padding: 6px;
    border: 1px solid slategray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.thumbnail.active {
    border: 3px solid var(--highlight);
    padding: 4px;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* --------- CHECKOUT STUFF ------------ */

.checkout-table {
    width: 100%;
}

.checkout-table th {
    font-weight: normal;
}

.checkout-table th,
.checkout-table td {
    padding-block-end: .5rem;
    padding-inline: .5rem;
    ;
}

.form-control {
    height: calc(2.25em + .75rem + 2px);
    padding: .75rem;
    box-shadow: 0 1px 3px 0 #e6ebf1;
}

.sticky-top {
    position: sticky;
    top: 20px;
}

.receipt {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.form-group .col-6 {
    position:relative;
}

.input-error {
    border-color: var(--colorDanger);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03),
        0px 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 1px var(--colorDanger);
    background-color: transparent;
}
.col-6:has(.input-error)::after {
    content: "\f06a";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    font-size: 1.5rem;
    color: var(--colorDanger);
    position:absolute;
    right: 28px;
    top: 38px;
}

.loading-screen {
    display:block;
    position: fixed;
    z-index:5000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-size: 1.5rem;
    font-weight: 100;
}

.loading-screen > div {
    border: 1px solid hsl(0, 0%, 40%);
    background-color: var(--primary);
    border-radius: 1rem;
}

.w-100px {
  width: 100px;
}

.w-120px {
  width: 120px;
}

.w-150px {
  width: 150px;
}


.f-italic {
  font-style: italic;
}

.f-8rem {
    font-size: 0.8em;
}

.td-ul {
    text-decoration: underline;
}

.color-secondary {
    background-color:#3399CC;
    border-color: #3399CC;
    color: #FFF;
}

.mtneg-1rem {
    margin-top: -1rem;
}

.mtneg-2rem {
    margin-top: -1.7rem;
}
