
/* Color Variables */
:root {

    --primary: hsl(200, 60%, 50%); 
    --secondary: hsl(203, 81%, 83%);
    --accent: hsl(39, 100%, 50%);

    --highlight:hsl(202, 65%, 58%);
    --peach: hsl(25, 100%, 80%);
}

/* override some bootstrap colors and classes */
a {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-accent {
    background-color: var(--accent);
}

.btn {
    border-radius: 100vw;
}



.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-accent {
    background-color: var(--accent);
    border-color: var(--accent);
}

.text-primary, a.text-primary:visited {
    color: var(--primary) !important;
}

.text-accent {
    color: var(--accent);
}

a.text-primary:hover, a.text-primary:focus {
    color: var(--highlight) !important;
}

a.text-primary:active {
    color: var(--primary) !important;
}



p {
    word-wrap: break-word;
}

input[type="checkbox"]{
    margin-inline-end: .25rem;
}

.container {
    margin-bottom:250px;
}

.font-small  {
    font-size: .75rem;
}


/*------------------------------------------------------------*/
/* Nav Bar classes */





/* Adjusting product items */

.product-row {
    gap: 1rem;
}

.product {
    display:flex;
    flex-direction: column;
    /* background-color: var(--product-color); */
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1 1 360px;
    padding:1rem;
    border: 1px solid var(--peach);
}

.empty {
    background-color: transparent;
    border-color: transparent;
}

.product img {
    width: 100%;
    max-height: 150px;
    display: block;
    object-fit: scale-down;
    /* object-position: 0 20%; */
}

.product > :not(img) {
    margin-inline:0rem;
}

.price-info {
    margin-block-start: auto;
    margin-block-end: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.price-info > p {
    margin:0;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-mise-accent {
    line-height: 1;
    border: 2px solid var(--accent);
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    font-size:1rem;
    padding: .75rem 1.25rem;
    &:hover {
        background-color: transparent;
        color: var(--accent) !important;
    }
}


/* Item Page Stuff */

.swiper-window {
    overflow: clip;
}

.swiper-wrapper {
    display: flex;
    gap:1rem;
    translate: 0px;
    transition: translate 500ms;
}

.swiper-item {
    flex-shrink: 0;
    display: flex;
    aspect-ratio: 4 / 3;
    align-items: center;
    justify-content: center;
    width:100%;
}

.swiper-item > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-view-bar {
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.thumbnail {
    width: 66px;
    height: 66px;
    padding:6px;
    border: 1px solid slategray;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.thumbnail.active {
    border: 3px solid var(--highlight);
    padding:4px;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.checkout-table {
    width:100%;
}

.checkout-table th {
    font-weight: normal;
}

.checkout-table th, .checkout-table td {
    padding-block-end: .5rem;
    padding-inline: .5rem;;
}