/*-------------------------------------------------------------------------------------------------------------------*/
/* Color Variables */
:root {
    --primary: hsl(200, 60%, 50%);
    --secondary: hsl(203, 81%, 83%);
    --accent: hsl(39, 100%, 50%);
    --medium-gray: hsl(208, 7%, 92%);
    --highlight: hsl(202, 65%, 58%);
    --peach: hsl(25, 100%, 80%);
    --colorDanger: hsl(348, 78%, 49%); 
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* FONT */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}





/*-------------------------------------------------------------------------------------------------------------------*/
/* GENERAL HTML ADJUSTMENTS */
input::placeholder {
    color: #dddddd !important;
}

input[type="checkbox"] {
    margin-inline-end: .25rem;
}

p {
    word-wrap: break-word;
}



/*-------------------------------------------------------------------------------------------------------------------*/
/* WEB 2 PY TWEAKS */
.w2p_flash .img-holder {
    width:30%;
    margin:0 auto;
}

.w2p_flash .words {
    flex:1 1;
}

.img-holder img {
    width:100%;
}

.w2p_flash .pie {
    width:100%;
    display: flex;
    gap:1rem;
}

#closeflash {
    position: absolute;
    top:3px  ;
    right:3px ;
    font-size: 1.25rem;
    background: rgba(255,255,255,0.5); /* same as colorDanger */
    line-height: .9rem;
    padding: 0 .1rem;
    border-radius: 4px;
    border: 1px solid var(--colorDanger);
    color: var(--colorDanger);
}

.w2p_flash {
  opacity: unset;
  right: 100px;
  position: relative;
}

div.w2p_flash.alert {
    opacity: unset;
    z-index: 2000;
    display: none;
    position: fixed;
    top: 70px;
    right: 75px;
    cursor: pointer;
    background-color: #f9edbe;
    border-color: #f0c36d;
    opacity: .9;
}

div.w2p_flash {
  background-image: none;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  font-weight: 400;
  min-width: 28px;
  max-width: 300px;
  opacity: 1;
  vertical-align: baseline;
  right: auto;
  border-width: 1px;
  margin: 0 0 20px;
  padding: 1.25rem;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/* override some bootstrap colors and classes */
a {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-accent {
    background-color: var(--accent);
}

.border-primary {
    border-color: var(--primary) !important;
}

.border-accent {
    border-color: var(--accent) !important;
}

.border-peach {
    border-color: var(--peach) !important;
}

.btn {
    border-radius: 100vw;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--highlight) !important;
    border-color: var(--highlight) !important;
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-medium {
    background-color: var(--medium-gray);
    border-color: var(--medium-gray);
}

.btn-accent {
    background-color: var(--accent);
    border-color: var(--accent);
}

.text-primary,
a.text-primary:visited {
    color: var(--primary) !important;
}

.text-accent {
    color: var(--accent);
}

.text-danger {
    color: var(--colorDanger) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: var(--highlight) !important;
}

a.text-primary:active {
    color: var(--primary) !important;
}

.container {
    margin-bottom: 250px;
}

.footer {
    height: fit-content;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/* CUSTOM UTILITY CLASSES ------------------------- */

.font-small {
    font-size: .75rem;
    line-height: 1rem;
}

.pill-left {
    border-radius: 100vw 0 0 100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-gap-25 {
    gap: .25rem;
}

.flex-gap-1 {
    gap: .5rem;
}

.flex-gap-2 {
    gap: 1rem;
}

.flex-gap-3 {
    gap: 1.5rem;
}

.flex-gap-4 {
    gap: 2rem;
}

.input-num-w-3 {
    width: 3em;
}

.rounded-2 {
    border-radius: 0.5rem;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Nav Bar classes */
#cart-counter {
    /* background-color: var(--accent); */
    height: 1.4375rem;
    width: 1.4375rem;
    padding: .25rem;
    border-radius: 100%;
    color: white;
    font-size: 0.8125rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 3px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mise-logo {
    width: min(18%, 160px);
}

#accordion {
    overflow: clip;
}

.mise-dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    overflow: clip;
}

.mobile-icon::after {
    /* display:none !important;
    margin-left: 0;
    content:none !important;
    border:none; */
}

.card.search-mobile {
    background:none;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Home Page */

.top-brands {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #FFCFA3
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Adjusting product items */

.product {
    display: flex;
    flex-direction: column;
    /* background-color: var(--product-color); */
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1 1 330px;
    padding: 1rem;
    border: 1px solid var(--peach);
}

.empty {
    background-color: transparent;
    border-color: transparent;
}

.product img {
    width: 100%;
    max-height: 150px;
    display: block;
    object-fit: scale-down;
    /* object-position: 0 20%; */
}

.product> :not(img) {
    margin-inline: 0rem;
}

.price-info {
    margin-block-start: auto;
    margin-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-info>p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-mise-accent {
    line-height: 1;
    border: 2px solid var(--accent);
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: .75rem 1.25rem;

    &:hover {
        background-color: transparent;
        color: var(--accent) !important;
    }
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Item Page Stuff */

.swiper-window {
    overflow: clip;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    gap: 1rem;
    translate: 0px;
    transition: translate 500ms;
}

.swiper-item {
    flex-shrink: 0;
    display: flex;
    aspect-ratio: 4 / 3;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper-item>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-view-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.thumbnail {
    width: 66px;
    height: 66px;
    padding: 6px;
    border: 1px solid slategray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.thumbnail.active {
    border: 3px solid var(--highlight);
    padding: 4px;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.out-of-stock {
    background-color: red;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: .25rem;
    display: block;
    width: 50%;
    border-radius: .5rem;
}

.out-of-stock.over-image {
    position: absolute;
    z-index: 50;
    left:25%;
    top:45%;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* --------- shopping cart stuff ------------ */
.update-cart button {
    font-size: 0.875rem;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/* --------- CHECKOUT STUFF ------------ */

.checkout-table {
    width: 100%;
}

.checkout-table th {
    font-weight: normal;
}

.checkout-table th,
.checkout-table td {
    padding-block-end: .5rem;
    padding-inline: .5rem;
    ;
}

.form-control {
    height: calc(2.25em + .75rem + 2px);
    padding: .75rem;
    box-shadow: 0 1px 3px 0 #e6ebf1;
}

.search {
    height: calc(1.5em + 1rem + 2px) !important;
}

.sticky-top {
    position: sticky;
    top: 20px;
}

.receipt {
    display: flex;
    flex-direction: column;
    z-index: 500;
}

.form-group .col-6 {
    position:relative;
}

.input-error {
    border-color: var(--colorDanger);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03),
        0px 3px 6px rgba(0, 0, 0, 0.02),
        0 0 0 1px var(--colorDanger);
    background-color: transparent;
}
.col-6:has(.input-error)::after {
    content: "\f06a";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    font-size: 1.5rem;
    color: var(--colorDanger);
    position:absolute;
    right: 28px;
    top: 38px;
}

.loading-screen {
    display:block;
    position: fixed;
    z-index:5000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-size: 1.5rem;
    font-weight: 100;
}

.loading-screen > div {
    border: 1px solid hsl(0, 0%, 40%);
    background-color: var(--primary);
    border-radius: 1rem;
}

.w-100px {
  width: 100px;
}

.w-120px {
  width: 120px;
}

.w-150px {
  width: 150px;
}


.f-italic {
  font-style: italic;
}

.f-8rem {
    font-size: 0.8em;
}

.td-ul {
    text-decoration: underline;
}

.color-secondary {
    background-color:#3399CC;
    border-color: #3399CC;
    color: #FFF;
}

.mtneg-1rem {
    margin-top: -1rem;
}

.mtneg-2rem {
    margin-top: -1.7rem;
}

.btn-out-of-stock {
    background-color: lightgray;
    border-color: lightgray;
    color: #FFF;
    &:hover {
        cursor: not-allowed;
        background-color: lightgray;
        color: #FFF !important;
    }
}

/* KEYFRAMES */

.fade-in-5 {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-in-10 {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-12 {
    animation: fadeIn 1.2s ease-in-out forwards;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

/* LG SIZE */
@media (min-width: 992px) {
    .w-lg-75 {
        max-width:75%
    }

    #cart-counter {
        right: 7px;
    }
}


/* MD SIZE */
@media (min-width: 768px) {
    .h-md-50 {
        max-height: 50%
    }
}

@media (max-width: 768px) {
    .ml-bmd-auto {
        margin-left:auto;
    }

    .pill-bmd {
        border-radius: 100vw !important;
    }
}

@media (max-width:576px) {
    .row {
        margin-right:0;
        margin-left:0;
    }
}
